html {
    text-align: center;
    font-family: sans-serif;
    background: white;
    padding: 1rem;
  }
  
  body {
    max-width: 960px;
    margin: 0 auto;
    background: white;
  }
  

  input[type=text] {
    width: 30%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }

  input[type=submit] {
    background-color: #04AA6D;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }